<div class="container">
  <div class="well">
    <div class="container">
      <%= form_tag "/search", :class => 'form-inline' do %>
        <div class="col-sm-12">
          <h3>INGREDIENTS</h3>
          <%= text_field_tag :ingredients, nil, placeholder: "Enter your ingredients", class:'text-field' %><br>
        </div>
        <div class="col-sm-4">
        <h3>DIET</h3>
          <%= check_box_tag 'diet[]', 'vegetarian' %>
          <%= label_tag :vegetarian %><br>
          <%= check_box_tag 'diet[]', 'ketogenic' %>
          <%= label_tag :ketogenic %><br>
          <%= check_box_tag 'diet[]', 'vegan' %>
          <%= label_tag :vegan %><br>
          <%= check_box_tag 'diet[]', 'gluten free' %>
          <%= label_tag :gluten_free %><br>
          <%= check_box_tag 'diet[]', 'dairy free' %>
          <%= label_tag :dairy_free %><br>
        </div>
        <div class="col-sm-4">
          <h3>PREP TIME</h3>
          <%= check_box_tag :time, 120 %>
          <%= label_tag "< 2 Hours" %><br>
          <%= check_box_tag :time, 60 %>
          <%= label_tag "< 1 Hour" %><br>
          <%= check_box_tag :time, 30 %>
          <%= label_tag "< 30 Minutes" %><br>
          <%= check_box_tag :time, 15 %>
          <%= label_tag "< 15 Minutes" %><br>
        </div>
        <div class="col-sm-4">
          <h3>TYPE</h3>
          <%= check_box_tag :type, "main course" %>
          <%= label_tag "Main Course" %><br>
          <%= check_box_tag :type, "side dish" %>
          <%= label_tag "Side Dish" %><br>
          <%= check_box_tag :type, "dessert" %>
          <%= label_tag "Dessert" %><br><br>
        </div>
        <div class="col-sm-12">
          <%= submit_tag "Search Recipes", class:'btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
