<% unless @recipes.nil? %>
  <% @recipes.each do |recipe| %>
    <div id="recipe-<%= recipe.id %>">
      <%= link_to recipe_path(recipe.id) do %>
        <%= recipe.title %><br>
        <%= image_tag recipe.image %><br>
      <% end %>
      <%= button_to 'Delete', favorite_path(recipe.id), method: :delete %>
    </div>
  <% end %>
<% else %>
  <p>You have not favorited any recipes.</p>
<% end %>
