<h1><%= @user.username %>'s Favorite Recipes</h1>
<div class="container">
  <div class="row">
    <% unless @recipes.nil? %>
    <% @recipes.each do |recipe| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="recipe-<%= recipe.id %>">
          <h4><%= recipe.title %></h4>
          <div class="thumbnail">
          <%= image_tag recipe.image %><br>
          </div>
          <%= link_to "Show me the recipe", recipe_path(recipe.id), :class => 'btn btn-default' %>
        </div>
      </div>
    </div>
    <% end %>
    <% else %>
    <p><%= @user.username %> has not favorited any recipes.</p>
  <% end %>
  </div>
</div>
