<h2>My Friends</h2>

<%= form_tag profile_friends_path do %>
  <%= label_tag :email_address %>
  <%= text_field_tag :email_address %>
  <%= submit_tag "Add Friend" %>
<% end %>

<% if @friends.empty? %>
  <p>You have no friends, try adding some :^)</p>
<% else %>
  <% @friends.each do |friend| %>
    <%= link_to friend.email, user_path(friend) %>
  <% end %>
<% end %>

