<h1>My Friends</h1>

<div class="container">
  <div class="well">
    <%= form_tag profile_friends_path do %>
      <%= label_tag :username %>
      <%= text_field_tag :username, nil, class:'text-field' %>
      <%= submit_tag "Add Friend", class:'btn' %><br><br>
    <% end %>
    <% if @friends.empty? %>
      <p>You can add friends if you know their username!</p>
    <% else %>
    </div>
    <% current_user.friends.each do |friend| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="friend">
            <div class="thumbnail">
              <%= image_tag friend.image %>
            </div>
            <h3><%= link_to friend.username, user_path(friend.username) %></h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
