<h2><%= @recipe.title %></h2>
<div class="container">
  <div class="row">
    <div class="col-sm-6" class="panel panel-default">
      <%= image_tag @recipe.image, :class => "thumbnail", :width => "100%" %><br>
      <p>Prep time: <%= @recipe.time %> minutes</p>
      <% if current_user.favorites.pluck(:recipe_id).include?(@recipe.id) %>
      <%= link_to 'Delete from Favorites', favorite_path(@recipe.id), method: :delete, :class => "btn btn-default" %>
      <% else %>
      <%= button_to 'Add to Favorites', favorites_path, method: :post, params: { recipe_id: @recipe.id }, :class => "btn btn-default" %>
      <% end %>
    </div>
  <div class="col-sm-6">
    <section id="ingredients">
      <h3>Ingredients:</h3>
      <ul>
        <% @recipe.ingredients.list.each do |ingredient| %>
        <%= ingredient %><br>
        <% end %>
      </ul>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <section id="nutrition">
      <h3>Nutrition Information:</h3>
        <%= @recipe.nutrition.calories %> calories<br>
        <%= @recipe.nutrition.protein %> g protein<br>
        <%= @recipe.nutrition.fat %> g fat<br>
        <%= @recipe.nutrition.carbohydrates %> g carbohydrates<br>
        <%= @recipe.nutrition.cholesterol %> mg cholesterol<br>
        <%= @recipe.nutrition.sodium %> mg sodium<br>
        <%= @recipe.nutrition.sugar %> g sugar<br>
    </section>
  </div>
  <div class="col-sm-6">
    <section id="instructions">
      <h3>Instructions:</h3>
      <% if @recipe.instructions.list.nil? %>
        <p>Instructions are unavailable for this recipe.</p>
      <% else %>
        <ol>
          <% @recipe.instructions.list.each do |instruction| %>
            <li><%= instruction %></li>
          <% end %>
        </ol>
      <% end %>
    </section>
  </div>
</div>
