<h2><%= @user.username %></h2>

<%= link_to "#{@user.username}'s Favorites", user_favorites_path(@user.username) %> |
<%= link_to "#{@user.username}'s Friends", user_friends_path(@user.username) %><br>
<p>Name: <%= @user.name %></p><br>
<p>Username: <%= @user.username %></p><br>
<p>Bio: <%= @user.bio %></p>
<%= image_tag @user.image %>