<% if current_user %>
<div class="container">
  <div class="well">
    <div class="container">
      <%= form_tag "/search", :class => 'form-inline' do %>
        <div class="col-sm-12">
          <h3>INGREDIENTS</h3>
          <%= text_field_tag :ingredients, nil, placeholder: "Enter your ingredients", class:'text-field' %><br>
        </div>
        <div class="col-sm-4">
        <h3>DIET</h3>
          <%= check_box_tag 'diet[]', 'vegetarian', current_user.restriction_list.include?('vegetarian') %>
          <%= label_tag :vegetarian %><br>
          <%= check_box_tag 'diet[]', 'ketogenic', current_user.restriction_list.include?('ketogenic') %>
          <%= label_tag :ketogenic %><br>
          <%= check_box_tag 'diet[]', 'vegan', current_user.restriction_list.include?('vegan') %>
          <%= label_tag :vegan %><br>
          <%= check_box_tag 'diet[]', 'gluten free', current_user.restriction_list.include?('gluten free') %>
          <%= label_tag :gluten_free %><br>
          <%= check_box_tag 'diet[]', 'dairy free', current_user.restriction_list.include?('dairy free') %>
          <%= label_tag :dairy_free %><br>
        </div>
        <div class="col-sm-4">
          <h3>PREP TIME</h3>
          <%= check_box_tag :time, 120 %>
          <%= label_tag "< 2 Hours" %><br>
          <%= check_box_tag :time, 60 %>
          <%= label_tag "< 1 Hour" %><br>
          <%= check_box_tag :time, 30 %>
          <%= label_tag "< 30 Minutes" %><br>
          <%= check_box_tag :time, 15 %>
          <%= label_tag "< 15 Minutes" %><br>
        </div>
        <div class="col-sm-4">
          <h3>TYPE</h3>
          <%= check_box_tag :type, "main course" %>
          <%= label_tag "Main Course" %><br>
          <%= check_box_tag :type, "side dish" %>
          <%= label_tag "Side Dish" %><br>
          <%= check_box_tag :type, "dessert" %>
          <%= label_tag "Dessert" %><br><br>
        </div>
        <div class="col-sm-12">
          <%= submit_tag "Search Recipes", class:'btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="h3">
    <%= link_to 'Continue as Guest', guest_login_path, class:"login-link btn" %><br><br>
  </div>
  <div class="h3">
    <%= link_to 'Log In With Google', google_login_path, class:"login-link btn" %><br><br>
  </div>
    <div class="row" style="margin: 40px">
      <div class="col-sm-6">
      <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.foodandwine.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F1574455224%2Fwarm-spinach-artichoke-dip-FT-RECIPE1219.jpg" alt="Caserole and Toast" style="width:100%">
    </div>
    <div class="row" style="margin: 40px">
      <div class="col-sm-6">
        <div class="text-left">
        <h2 style="color:white">What is Knead Recipes?</h2>
        <p class="lead" style="color:white">When is the last time you went out because you didn't know what to make?
          What if you had all those ingredients in your fridge already?
          What if you could find new and great food right in your home?<br>
          <b>Now you can.</b></p>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 40px">
      <div class="col-sm-6">
        <div class="text-left">
        <h2 style="color:white">Piece of cake.</h2>
        <p class="lead" style="color:white">From snacks, sides, breakfast, lunch we've got you covered.
          Whatever ingredients you have on hand, we're ready to transform them into your
          next favorite meal or classic party dish.<br>
        </div>
    </div>
    <div class="row" style="margin: 40px">
      <div class="col-sm-6">
        <img src="https://www.tasteofhome.com/wp-content/uploads/2018/03/Ganache-Topped-Chocolate-Cake_EXPS_DSBZ17_39438_B01_20_3b-696x696.jpg" alt="Chocolate Cake" style="width:100%">
      </div>
    </div>
    <div class="row" style="margin: 40px">
      <div class="col-sm-6">
      <img src="https://i2.wp.com/fountainavenuekitchen.com/wp-content/uploads/2019/04/summer-avocado-toast-hp.jpg" alt="Avocado Chicken "style="width:100%">
    </div>
    <div class="row" style="margin: 40px">
      <div class="col-sm-6">
        <div class="text-left">
          <h2 style="color:white">How does it work?</h2>
          <p style="color:white" class="lead"><b>It's simple!</b>  Just log in, enter ingredients you have and get started.
            Update your dietary preferences, favorite your favorite dishes, and even follow
            your friends to get inspiration.  We all <b>Knead Recipes!</b><p>
        </div>
      </div>
    </div>
<% end %>
