<h2>My Favorites</h2>
<div class="container">
  <div class="row display-flex">
    <% unless @recipes.nil? %>
    <% @recipes.each do |recipe| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="recipe-<%= recipe.id %>">
          <h4><%= recipe.title %></h4>
          <div class="thumbnail">
          <%= image_tag recipe.image %><br>
          </div>
          <%= link_to "Show me the recipe", recipe_path(recipe.id), :class => 'btn btn-default' %>
          <%= link_to 'Delete from Favorites', profile_favorite_path(recipe.id), method: :delete, :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
    <% else %>
    <p>You have not favorited any recipes.</p>
  <% end %>
  </div>
</div>
