<h1>Edit Profile</h1>
<%= @user.name %>
<%= @user.email %>
<%= form_tag("/profile/edit/#{current_user.id}", method: :patch) do %>
<%= label_tag :bio %>
<%= text_field_tag :bio, "#{@user.bio}"%>
<h2>DIET</h2>
  <%= check_box_tag :vegetarian, nil, @restrictions.include?('vegetarian') %>
  <%= label_tag "vegetarian" %>
  <%= check_box_tag :ketogenic, nil, @restrictions.include?('ketogenic') %>
  <%= label_tag "ketogenic" %>
  <%= check_box_tag :vegan, nil, @restrictions.include?('vegan')%>
  <%= label_tag "vegan" %>
  <%= check_box_tag :gluten_free, nil, @restrictions.include?('gluten free') %>
  <%= label_tag "gluten free" %>
  <%= check_box_tag :dairy_free, nil, @restrictions.include?('dairy free') %>
  <%= label_tag "dairy free" %>
  <%= submit_tag "Update Profile", :class => "btn btn-primary" %>
<% end %>
