<h1>User Profile</h1>
<%= @user.name %>
<%= @user.email %>
<%= link_to "Edit Profile", profile_edit_path %>
<%= link_to "Favorites" %>
<%= link_to "Friends" %>
<h4>Dietary Restrictions</h4>
<% @user.restrictions.each do |restriction| %>
  <%= restriction.name %>
<% end %>
