<h2>User Profile</h2>

<%= link_to "Edit Profile", profile_edit_path, :class => "btn btn-outline-success" %> |
<%= link_to "Favorites", profile_favorites_path, :class => "btn btn-outline-success" %> |
<%= link_to "My Friends", profile_friends_path, :class => "btn btn-outline-success" %>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <div class="info-<%= @user.id %>">
        <h3>Name: <%= @user.name %></h3>
        <b>Email: <%= @user.email %></b><br>
        <b>Username: <%= @user.username %></b><br>

        <% if @user.bio %>
          <b>About me:</b><br>
          <p><%= @user.bio %></p>
        <% else %>
          <p>You haven't added any personal info yet, try adding some :^)</p>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag @user.image %>
    </div>
    <div class="col-sm-4">
      <h2>Dietary Restrictions</h2>
      <% if current_user.restrictions.length.zero? %>
        <p>You have no dietary restrictions selected</p>
      <% else %>
        <% @user.restrictions.each do |restriction| %>
          <%= restriction.name %><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
