<!DOCTYPE html>
<html>
  <head>
    <title>KneadRecipes</title>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Cover Template · Bootstrap</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Menu
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!-- dropdown menu links -->
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Profile", profile_path if current_user %></li>
          <li><%= link_to "Friends", profile_friends_path  if current_user %></li>
          <li><%= link_to "Favorites", profile_favorites_path  if current_user %></li>
          <li><%= link_to "Logout", logout_path, method: :delete if current_user %></li>
        </ul>
      </div>
    </div>
  </header>

  <main role="main" class="inner cover">
    <style>
      .jumbotron {
      background-image: url("https://res.cloudinary.com/sanitarium/image/fetch/q_auto/https://www.sanitarium.com.au/getmedia%2Fae51f174-984f-4a70-ad3d-3f6b517b6da1%2Ffruits-vegetables-healthy-fats.jpg%3Fwidth%3D1180%26height%3D524%26ext%3D.jpg");
      background-size: cover;
      color: white;
    }
    </style>
    <div class="jumbotron text-center">
      <h1>Welcome to Knead Recipes!</h1>
    </div>
    <div class="flash-message">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg.html_safe, class: name %>
      <% end %>
    </div>
    <%= yield %>
  </main>
</div>

</body>
</html>
