<!DOCTYPE html>
<html>
  <head>
    <title>KneadRecipes</title>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Cover Template · Bootstrap</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="text-center bg-ambiance">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto"></header>
      <main role="main" class="inner cover">

        <div class="jumbotron text-center">
          <div class="header-opacity">
            Welcome to Knead Recipes!
          </div>
        </div>

        <div class="navbar navbar-inverse">
          <div class="container">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Profile", profile_path if current_user %></li>
              <li><%= link_to "Friends", profile_friends_path if current_user %></li>
              <li><%= link_to "Favorites", profile_favorites_path if current_user %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Logout", logout_path, method: :delete if current_user %></li>
            </ul>
          </div>
        </div>

        <div class="flash-message">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg.html_safe, class: name %>
          <% end %>
        </div>

        <%= yield %>

        <footer class="fixed-bottom">
          <div class="container">
            <div class="col-sm-12">
              Knead Recipes was designed and created by Turing students
            </div>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
